:local(.header) {
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  :local(.headerRightSide) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  :local(.movieSearching){
    margin-right: 100px;
  }
}


