$main-bg-color: #ccc;

#root{
  padding: 0 15%;
}
.App{
  width: 100%;
  background: $main-bg-color;
}
.logo{
  font-size: 30px;
  font-weight: 800;
}
.mainScreen{
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin-top: 30px;
  .movieList{
    width: 75%;
  }
}
.slide{
  font-size: 24px;
  background: $main-bg-color;
  margin: 0 20px;
  .movieItem{
    background-color: $main-bg-color;
    border: 1px solid #000;
    margin-bottom: 10px;
    position: relative;

    .movieItemRight{
      position: absolute;
      top: 0;
      left: 0;
      color: $main-bg-color;
      display: none;
    }
  }
}
.slick-slider.slick-initialized{
  background: $main-bg-color;
}
.slick-slider{
  padding: 0 1%;
  border: 3px solid $main-bg-color;
}
.slick-arrow.slick-next{
  right: 0;
}
.slick-arrow.slick-prev{
  left: 0;
  z-index: 9;
}

.movieItem{
  background-color: $main-bg-color;
  border: 1px solid #000;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
    .movieItemLeft{
    margin-right: 10px;
  }
    .movieItemTitle{
    font-weight: 700;
    font-size: 22px;
  }
}


