.App{
  width: 100%;
  text-align: center;
}
.movie-item{
  background-color: #ccc;
  border: 1px solid #000;
  margin-bottom: 10px;
}
.header{
  background: #ccc;
}
.mainScreen{
    background-color: #eee;
    display: flex;
    justify-content: space-around;
}
.movieSlider {
   width: 100%;
    overflow-x:auto;
}
.movieSlider div{
    display: flex;
    flex-direction: row;
    background-color: pink;
}
.movie-search{
    border: 1px solid green;
}
.movieSearching{
    padding-bottom: 20px;
}
